footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #000016;
  height: auto;
  width: 100vw;

  padding-top: 40px;
  color: #fff;
}
.footer_container {
  display: flex;
}

.footer-content {
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 500px;
  height: 300px;
  padding: 10px 20px;
  margin: 0 auto;
}

.footer_contact_info {
  align-items: right;
  padding: 10px 20px;
  margin: 0 100px;

  width: 500px;
  height: 300px;
}

.footer_contact_info h3 {
  text-align: center;
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer_contact_info p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
  color: #cacdd2;
}
.socials {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
  font-size: 28px;
}
.socials li {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  padding: 5px;
}
.socials a {
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;

  transition: color 0.4s ease;
}
.socials a:hover i {
  color: aqua;
}

.phone {
  background-color: rgb(10, 155, 10);
}
.facebook {
  background-color: rgb(17, 47, 112);
}
.instagram {
  background-color: rgb(180, 6, 64);
}
.twitter {
  background-color: rgb(7, 168, 168);
}
.telegram {
  background-color: rgb(17, 150, 190);
}
.google {
  background-color: rgb(2, 54, 54);
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
  text-align: center;
}
.footer-bottom p a {
  color: #44bae8;
  font-size: 16px;
  text-decoration: none;
}
.footer-bottom span {
  text-transform: uppercase;
  opacity: 0.4;
  font-weight: 200;
}

@media (max-width: 500px) {
  .footer-menu ul {
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
  }
}
